body, html{
    scroll-behavior: smooth;
    height: 100%;
}

.aboutmeinfo-container{
    padding: 20px;
  background-color: rgb(85, 172, 108);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;

  h1,h2 {
    color: rgb(54, 14, 14);
  }
}