<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siri Portfolio</title>
</head>
<body>
    
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul>
                  <li><a routerLink="/port">Portfolio</a></li>
                  <li><a routerLink = "/about">About me</a></li>
                  <li><a routerLink = "/contact">Contact</a></li>
                  </ul>
            </nav>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>

    <section class="name">
        <div class="container">
            <h1>Siri Pechetti</h1>
            <p>Frontend Angular Developer.You can download my resume below.</p>
            <button (click)="downloadResume()">Resume</button>

        </div>
      </section>

    <section class="portfolio">
        <div class="container">
            <h2 id="projects">Projects</h2>
            <p>Find my developed projects below</p>
            <div class="portfolio-items">
                <div class="portfolio-item"><a href="https://github.com/sirivalli75/vibes-dating-app">Project 1</a></div>
                <div class="portfolio-item"><a href="https://github.com/sirivalli75/vibes-dating-app">Project 2</a></div>
                <div class="portfolio-item"><a href="https://github.com/sirivalli75/vibes-dating-app">Project 3</a></div>
                <div class="portfolio-item"><a href="https://github.com/sirivalli75/vibes-dating-app">Project 4</a></div>
            </div>
        </div>
    </section>
   
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Siri. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

