<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siri Portfolio</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="logo"><img width="100" src="https://static.vecteezy.com/system/resources/previews/003/682/726/non_2x/pink-white-s-alphabet-letter-logo-for-company-and-business-with-gradient-design-pastel-template-for-corporate-identity-vector.jpg"/></div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="name">
        <div class="container">
            <h1>Siri Pechetti</h1>
            <p>Frontend Angular Developer.You can download my resume below.</p>
            <a href="#" class="btn">Resume</a>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="portfolio">
        <div class="container">
            <h2>Projects</h2>
            <p>Find my developed projects below</p>
            <div class="portfolio-items">
                <div class="portfolio-item">
                  <a href="/">Project 1</a></div>
                <div class="portfolio-item"><a href="/">Project 2</a></div>
                <div class="portfolio-item"><a href="/">Project 3</a></div>
                <div class="portfolio-item"><a href="/">Project 4</a></div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Siri. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
